<h1>Onaque - Admin - Operating systems</h1>

<p><%= link_to "Add new os", new_admin_operatingsystem_path, class: "btn btn-primary" %> <%= link_to "Back to categories", admin_categories_path, class: "btn btn-danger" %></p>

<table class="table">
	<% @operatingsystems.each do |operatingsystem| %>
		<tr>
			<td><%= operatingsystem.name %></td>
			<td><%= link_to "Edit", edit_admin_operatingsystem_path(operatingsystem), class: "btn btn-success" %> <%= link_to "Delete", admin_operatingsystem_path(operatingsystem), method: "delete", class: "btn btn-danger" %></td>
		</tr>
	<% end %>
</table>
